<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <suite-files>


        <suite-file path="src/test/resources/suites/NegativeLoginSeniors.xml"/>
<!--
        <suite-file path="src/test/resources/suites/positiveLoginSeniors.xml"/>
-->
        <suite-file path="src/test/resources/suites/dashboardSeniors.xml"/>
        <suite-file path="src/test/resources/suites/positiveAddingEmp.xml"/>


    </suite-files>
</suite>